name: model
services:
  node:
    build:
      dockerfile: docker/dev/node.dockerfile
    image: node:24-alpine
    user: "${DEV_USER_ID}:${DEV_GROUP_ID}"
    volumes:
      - .:/usr/src/app

  plantuml-server:
    image: plantuml/plantuml-server:jetty
    ports:
      - ${PLANTUML_PORT}:8080

  plantuml-converter:
    image: plantuml/plantuml
    volumes:
      - ./doc/models:/models
