name: Linting

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: dev setup
        run: make setup

      - name: npm install
        run: docker compose exec -T php npm install

      - name: Run Prettier check
        run: docker compose exec php npx prettier --check .

      - name: Pint
        run: docker compose exec php ./vendor/bin/pint

      - name: Eslint
        run: docker compose exec php npx eslint .
